<header class="flex justify-center w-full xl:[w-1120px] mx-auto items-center py-5">

  <nav class="flex flex-row gap-2 sm:gap-x-10 opacity-90">
     <a href="#top">Inicio</a>
     <a href="#experiencia">Experiencia</a>
     <a href="#projects">Proyectos</a>
     <a href="#sobremi">Sobre mí</a>
     <a href="#contact">Contact</a>
  </nav>
</header>